<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.js" integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
        crossorigin="anonymous"></script>
</head>
<body>
    <div id="2integral_div1">
        <table cellpadding="0" cellspacing="1" id="hanginfo">
            <TR style="text-align:center;">
                <TD height="30">航班号</TD>
                <TD>船舶名称</TD>
                <TD>开船时间</TD>
                <TD>车辆配载</TD>
                <TD>可售散客</TD>
                <TD>可配小车</TD>
                <TD>可配客车</TD>
                <TD>客票票价</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">033</TD>
                <TD>双泰11</TD>
                <TD>船满即开</TD>
                <TD>正在配车</TD>
                <TD>150</TD>
                <TD>79台</TD>
                <TD>28台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">033</TD>
                <TD>双泰11</TD>
                <TD>船满即开</TD>
                <TD>正在配车</TD>
                <TD>150</TD>
                <TD>79台</TD>
                <TD>28台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">034</TD>
                <TD>宝岛12</TD>
                <TD>船满即开</TD>
                <TD>正在配车</TD>
                <TD>99</TD>
                <TD>90台</TD>
                <TD>32台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">034</TD>
                <TD>宝岛12</TD>
                <TD>船满即开</TD>
                <TD>正在配车</TD>
                <TD>99</TD>
                <TD>90台</TD>
                <TD>32台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">008</TD>
                <TD>永正</TD>
                <TD>01-18 17:00</TD>
                <TD>
                    <span style="color: red">终止配载</span>
                </TD>
                <TD>200</TD>
                <TD>109台</TD>
                <TD>39台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">008</TD>
                <TD>永正</TD>
                <TD>01-18 17:00</TD>
                <TD>
                    <span style="color: red">终止配载</span>
                </TD>
                <TD>200</TD>
                <TD>109台</TD>
                <TD>39台</TD>
                <TD>41.5元</TD>
            </TR>
        </table>
    </div>
    <div id="2integral_div2">
        <table cellpadding="0" cellspacing="1" id="hanginfo">
            <TR style="text-align:center;">
                <TD height="30">航班号</TD>
                <TD>船舶名称</TD>
                <TD>开船时间</TD>
                <TD>车辆配载</TD>
                <TD>可售散客</TD>
                <TD>可配小车</TD>
                <TD>可配客车</TD>
                <TD>客票票价</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">022</TD>
                <TD>紫荆十六</TD>
                <TD>01-18 19:00</TD>
                <TD>正在配车</TD>
                <TD>200</TD>
                <TD>62台</TD>
                <TD>22台</TD>
                <TD>41.5元</TD>
            </TR>
            <TR style="text-align:center;">
                <TD height="25">023</TD>
                <TD>铜鼓岭</TD>
                <TD>01-18 19:00</TD>
                <TD>正在配车</TD>
                <TD>0</TD>
                <TD>36台</TD>
                <TD>13台</TD>
                <TD>41.5元</TD>
            </TR>
    
        </table>
    </div>
</body>
<script>
    var ferryInnfo = {
        ferry_id: '',
        ferry_name: '',
        ferry_startTime: '',
        ferry_arriveTime: '',
        ferry_startPort: '',
        ferry_arrivePort: '',
        ferry_state: '',
        ferry_salabilityPassenger: '',
        ferry_salabilityCar: '',
        ferry_salabilityCoach: '',
        ferry_price: ''
    };
    function getHTMLJSON() {
        var array = [];
        var head = ['ferry_id', 'ferry_name', 'ferry_startTime', 'ferry_state',
            'ferry_salabilityPassenger', 'ferry_salabilityCar', 'ferry_salabilityCoach', 'ferry_price'];
        $('#2integral_div2 table tr').not('tr:eq(0)').each(function (i) {
            var json = {};
            $(this).find('td').each(function (i) {
                json[head[i]] = $(this).html();
                //新增
                json['ferry_arriveTime'] = '01-18 21:00';
                json['ferry_startPort'] = '海安港';
                json['ferry_arrivePort'] = '海口秀英港';
            })
            array.push(json);
        })
        return array;
    }
    console.log(getHTMLJSON())
</script>
</html>

