<div id="2integral_div1" style="display:none;">
    <table cellpadding="0" cellspacing="1" id="hanginfo">
        <TR style="text-align:center;">
            <TD height="30">航班号</TD>
            <TD>船舶名称</TD>
            <TD>开船时间</TD>
            <TD>车辆配载</TD>
            <TD>可售散客</TD>
            <TD>可配小车</TD>
            <TD>可配客车</TD>
            <TD>客票票价</TD>
        </TR>

        <TR style="text-align:center;">
            <TD height="25">033</TD>
            <TD>双泰11</TD>
            <TD>船满即开</TD>
            <TD>正在配车</TD>
            <TD>150</TD>
            <TD>79台</TD>
            <TD>28台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">033</TD>
            <TD>双泰11</TD>
            <TD>船满即开</TD>
            <TD>正在配车</TD>
            <TD>150</TD>
            <TD>79台</TD>
            <TD>28台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">034</TD>
            <TD>宝岛12</TD>
            <TD>船满即开</TD>
            <TD>正在配车</TD>
            <TD>99</TD>
            <TD>90台</TD>
            <TD>32台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">034</TD>
            <TD>宝岛12</TD>
            <TD>船满即开</TD>
            <TD>正在配车</TD>
            <TD>99</TD>
            <TD>90台</TD>
            <TD>32台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">008</TD>
            <TD>永正</TD>
            <TD>01-18 17:00</TD>
            <TD>
                <span style="color: red">终止配载</span>
            </TD>
            <TD>200</TD>
            <TD>109台</TD>
            <TD>39台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">008</TD>
            <TD>永正</TD>
            <TD>01-18 17:00</TD>
            <TD>
                <span style="color: red">终止配载</span>
            </TD>
            <TD>200</TD>
            <TD>109台</TD>
            <TD>39台</TD>
            <TD>41.5元</TD>
        </TR>
    </table>
</div>
<div id="2integral_div2">
    <table cellpadding="0" cellspacing="1" id="hanginfo">
        <TR style="text-align:center;">
            <TD height="30">航班号</TD>
            <TD>船舶名称</TD>
            <TD>开船时间</TD>
            <TD>车辆配载</TD>
            <TD>可售散客</TD>
            <TD>可配小车</TD>
            <TD>可配客车</TD>
            <TD>客票票价</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">022</TD>
            <TD>紫荆十六</TD>
            <TD>01-18 19:00</TD>
            <TD>正在配车</TD>
            <TD>200</TD>
            <TD>62台</TD>
            <TD>22台</TD>
            <TD>41.5元</TD>
        </TR>
        <TR style="text-align:center;">
            <TD height="25">023</TD>
            <TD>铜鼓岭</TD>
            <TD>01-18 19:00</TD>
            <TD>正在配车</TD>
            <TD>0</TD>
            <TD>36台</TD>
            <TD>13台</TD>
            <TD>41.5元</TD>
        </TR>

    </table>
</div>

<script>
    $('2integral_div1 table tr').each(function () {
        $(this).find('td')
    })
</script>
